# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Studio will create this internal folder that shouldn't be checked in
.android/

# Android-specific files
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/wrapper/
android/app/debug/
android/app/profile/
android/app/release/
android/.kotlin/
*.apk
*.aab

# iOS-specific files
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/

# macOS-specific files
macos/Flutter/ephemeral/

# Linux-specific files
linux/flutter/ephemeral/

# Windows-specific files
windows/flutter/ephemeral/

# Coverage
coverage/
